/*Variables*/
:root {
    --light-gray: #f1f1f1;
    --dark: #000000;
    --light: #ffffff;
    --neon-green: #1af525e7;
    --gray: #939993
}

/*General rule for the website*/
* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-size: 20px;
    background-color: var(--light-gray);
}

.content {
    margin: 0 80px 0 50px;
    min-width: 650px
}

p {
    background-color: var(--light)
}

/*for the hero image section*/
.hero-image {
    background-image: url(img/apple-black-and-white-black-and-white-169573.jpg);
    height: 85vh;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.hero-image h1 {
    top: 40%;
    right: 10%;
    color: var(--light);
    position: absolute;
    background-color: var(--neon-green);
    text-align: right;
    font-size: 40px;
    padding: 5px 90px 5px 10px;
}

/* About Myself section */
.info-box-1 {
    border: none;
    background-color: var(--light);
    border: 2px solid var(--gray);
    width: 90%;
    margin: 80px auto;
    padding: 20px;
    text-align: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.info-box-1 h2 {
    background-color: var(--light);
    text-align: left;
    padding-left: 10px;
    font-size: 30px
}

.info-box-1 h3 {
    background-color: var(--light);
}
/* Three coulumn sections */

.info-box-2 {
    background-color: var(--light);
    border: 2px solid var(--gray);
    width: 90%;
    margin: 80px auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.info-box-2 h2 {
    background-color: var(--light);
    text-align: left;
    padding-left: 30px;
    font-size: 30px
}

.col-3 {
    width: 300px;
    background-color: var(--light);
    border: 2px solid var(--dark);
    display: inline-block;
    margin: 20px 40px;
    padding: 10px;
    border-radius: 15px
}

.col-3 img {
    height: 90px;
    background-color: var(--light);
}

.col-3 p strong{
    background-color: var(--light);
}
/*the footer*/
footer{
    background-color: #24a53c;
    text-align: center;
    padding: 20px;
    bottom: 0%;
    color: #ffffff;
    font-size: 20px
}