/*  */

/*General rule for the website*/
* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-size: 20px;
    background-color: #b4b6b5;
}

.content {
    margin: 0 80px 0 50px;
    min-width: 650px
}

/*for the hero image section*/
.hero-image {
    background-image: url(img/apple-black-and-white-black-and-white-169573.jpg);
    height: 80vh;
    background-position: center;
    background-size: cover; 
}

.hero-image h1 {
    top: 40%;
    right: 10%;
    color: #ffffff;
    position: absolute;
    background-color: rgba(26, 245, 37, 0.904);
    text-align: right;
    font-size: 40px;
    padding: 5px 90px 5px 10px;
}

.skills {
    background-color: #ffffff;
    border: 2px solid rgb(147, 153, 147);
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

.interest {
    background-color: #ffffff;
    border: 2px solid rgb(147, 153, 147);
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

.col-3 {
    width: 300px;
    border: 2px solid yellow;
    display: inline-block;
    margin: 20px 40px;
    border-radius: 15px
}

/*the footer*/
footer{
    background-color: #bbf7c0;
    text-align: center;
    padding: 20px;
    bottom: 0%;
}